{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/VeranumApp/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/VeranumApp/style/home.css" />
    <link rel="stylesheet" href="../../static/VeranumApp/style/nav_lateral.css" />
    <link rel="stylesheet" href="../../static/VeranumApp/style/nav.css" />
    <link rel="stylesheet" href="../../static/VeranumApp/style/footer.css" />
    <link rel="stylesheet" href="../../static/VeranumApp/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css.map" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <title>Hotel Veranum</title>
  </head>

  <body>
    <header>
        <!-- COMIENZO NAV -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="../../static/VeranumApp/image/veranum_logo.png" width="70px" heigth="70px" alt="" /></a>
      <a class="navbar-brand" href="{% url 'home' %}"><h1>Hoteles Veranum</h1></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="{% url 'contacto' %}"><button class="button_contacto">contactenos</button></a>
          <a class="nav-link" href="{% url 'registrarse' %}"><button class="button_contacto">registrarse</button></a>
        </div>
      </div>
    </nav>
    <!-- FIN NAV -->
    </header>
    <!-- MENU LATERAL -->
    <div class="container-fluid d-lg-flex d-xl-flex d-md-flex">
      <div class="navegador col-sm-12 col-md-12 col-lg-2 col-xl-2">
        <a href="{% url 'home' %}" class="item_nav">Inicio</a>
        <a href="{% url 'habitaciones' %}" class="item_nav">Habitaciones</a>
        <a href="{% url 'restaurante' %}" class="item_nav">Restaurante</a>
        <a href="{% url 'acerca_nosotros' %}" class="item_nav">Acerca de nosotros</a>
      </div>
      <!-- FIN MENU LATERAL -->
      <!-- CUERPO REAL PAGINA -->
      <div class="cuerpo mt-5">
        <div class="row container_tarjetas col-md-10 col-lg-10 col-sm-12 col-xs-12">
          {% for ha in habitaciones %}
          <!-- INICIO TARJETA-->
          <div class="container_habitacion col-lg-4 col-sm-12 col-md-6">
            <div class="campos_tarjeta cont_imagen">
              <img class="imagen" src="../../static/VeranumApp/image/habitacion vip.jpg" alt="" />
            </div>
            <div class="campos_tarjeta titulo">
              <h3>{{ ha.titulo }}</h3>
            </div>
            <div class="campos_tarjeta descripcion">{{ ha.descripcion }}
            </div>
            <div class="campos_tarjeta camas"> {{ ha.num_camas }} Camas</div>
            <div class="campos_tarjeta servicios">{{ ha.num_cuartos }} Cuartos</div>
            <div class="campos_tarjeta estadia">Precio ${{ ha.valor_noche }}</div>
            <div class="campos_tarjeta piso">Piso {{ ha.piso }}</div>
            <div class="campos_tarjeta disponibilidad">disponibilidad {{ ha.disponibilidad }}</div>
            
            <div class="campos_tarjeta reservar"><button class="button_reserva">reservar</button></div>
          </div>
          <!-- FIN TARJETA -->
          {% endfor %}
        </div>
        <!-- INICIO TABLA -->
        <div class="container col-md-10 col-lg-10 col-sm-12 col-xs-12 pt-5">
          <h1>Servicios hoteles veranum</h1>
          <table class="table">
            <thead>
              <tr>
                <!-- ENCABEZADOS VACÍOS -->
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Exteriores</th>
                <td>Terraza</td>
              </tr>
              <tr>
                <th scope="row">Piscina y bienestar</th>
                <td>
                  Piscina, Piscina interior (todo el año), Piscina al aire libre, Piscina interior, Bañera de
                  hidromasaje / jacuzzi, Masajes, Spa y centro de bienestar, Gimnasio, Sauna
                </td>
              </tr>
              <tr>
                <th scope="row">Mascotas</th>
                <td>No se admiten.</td>
              </tr>
              <tr>
                <th scope="row">Actividades</th>
                <td>Club infantil, Alquiler de bicicletas (de pago), Campo de golf (a menos de 3 km)</td>
              </tr>
              <tr>
                <th scope="row">Comida & bebida</th>
                <td>Desayuno en la habitación, Bar, Restaurante, ¡Muy buen café!</td>
              </tr>
              <tr>
                <th scope="row">Internet</th>

                <td>¡Gratis! Hay conexión a internet Wi-Fi disponible en todo el establecimiento. Gratis.</td>
              </tr>
              <tr>
                <th scope="row">Aparcamiento</th>
                <td>Hay parking privado en el establecimiento. No es necesario reservar. Precio: 12 USD por día .</td>
              </tr>
              <tr>
                <th scope="row">Servicios de recepción</th>
                <td>
                  Cajero automático en el hotel, Guardaequipaje, Información turística, Cambio de moneda, Recepción 24
                  horas
                </td>
              </tr>
              <tr>
                <th scope="row">Servicios de limpieza</th>
                <td>Limpiabotas, Servicio de planchado, Servicio de limpieza en seco, Servicio de lavandería</td>
              </tr>
              <tr>
                <th scope="row">Activities</th>
                <td>
                  Mini Golf, Snorkeling, Diving, Cycling, Hiking, Bicycle Rental (additional charge), Windsurfing, Pool
                  Table, Fishing
                </td>
              </tr>
              <tr>
                <th scope="row">General</th>
                <td>
                  Aire acondicionado, Tiendas (en el establecimiento), Calefacción, Alquiler de coches, Tienda de
                  recuerdos, Caja fuerte, Ascensor, Suite nupcial, Peluquería / salón de belleza, Adaptado personas de
                  movilidad reducida, Servicio de habitaciones
                </td>
              </tr>
              <tr>
                <th scope="row">Política de humo</th>
                <td>Habitaciones no fumadores</td>
              </tr>
              <tr>
                <th scope="row">Idiomas que se hablan</th>
                <td>español, inglés</td>
              </tr>
            </tbody>
          </table>
          <br />
          <br />
        </div>
        <!-- FIN TABLA -->

        <!-- INICIO TABLA CONDICIONES -->
        <div class="container col-md-10 col-lg-10 col-sm-12 col-xs-12">
          <div><h1>Condiciones de Hoteles Veranum</h1></div>
          <table class="table">
            <thead>
              <tr>
                <!-- ENCABEZADOS VACIOS -->
              </tr>
            </thead>
            <tr>
              <th scopre="row">Entrada</th>
              <td>A partir de las 15:00</td>
            </tr>
            <tr>
              <th scopre="row">Salida</th>
              <td>Hasta las 12:00</td>
            </tr>
            <tr>
              <th scopre="row">Cancelación / prepago</th>
              <td>
                Las condiciones de cancelación y de pago por adelantado pueden variar según el tipo de habitación.
                Introduce las fechas de tu estancia y consulta las condiciones de la habitación seleccionada.
              </td>
            </tr>
            <tr>
              <th scopre="row">Condiciones sobre niños y camas supletorias</th>
              <td>Pueden alojarse niños de todas las edades.</td>
            </tr>
            <tr>
              <th scopre="row">Mascotas</th>
              <td>No se admiten.</td>
            </tr>
            <tr>
              <th scopre="row">Grupos</th>
              <td>Al reservar más de 9 habitaciones, podrán aplicarse condiciones especiales y suplementos.</td>
            </tr>
            <tr>
              <th scopre="row">Tarjetas aceptadas en este alojamiento</th>
              <td>
                El Sheraton Miramar Hotel &amp; Convention Center acepta estas tarjetas y se reserva el derecho de
                cargar de forma temporal una cantidad antes de la entrada.
              </td>
            </tr>
          </table>
        </div>
        <!-- FIN TABLA CONFICIONES  -->
      </div>
      <!-- FIN CUERPO REAL PAGINA -->
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>ubicacion</h4>
            <ul>
              <li><p>Ricardo Matte Pérez 0270 Valparaiso</p></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>contacto</h4>
            <ul>
              <li><p>wsp:+56956872415</p></li>
              <li><p>correo:Veranum@gmail.com</p></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>acceso rapido</h4>
            <ul>
              <li><a href="{% url 'home' %}">inicio</a></li>
              <li><a href="{% url 'habitaciones' %}">habitaciones</a></li>
              <li><a href="{% url 'restaurante' %}">restaurante</a></li>
              <li><a href="{% url 'acerca_nosotros' %}">acerca de nostros</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Redes sociales</h4>
            <div class="social-links">
              <a href="https://es-la.facebook.com/pg/hotelcesarnic/posts/?ref=page_internal"
                ><img height="50px" src="../../static/VeranumApp/image/facebook.png"></i
              ></a>
              <a href="https://twitter.com/sheratonhotels?lang=es"><img height="50px" src="../../static/VeranumApp/image/gorjeo.png"></img></a>
              <a href="https://www.instagram.com/sheratonscl/?hl=es-la"><img height="50px" src="../../static/VeranumApp/image/instagram.png"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
