.altura-mensaje{
    min-height: 100px;
}

.margenes-container{
    margin-bottom: 5%;
}

.centrado{
    margin-left: auto;
    margin-right: auto;
}

.separacion{
    margin-top: 100px;
}

.botonEnviar{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(27, 92, 136);
    color: white;
    
}

.botonEnviar:hover{
    background-color: white;
    color: rgb(27, 92, 136);
    border-color: rgb(27, 92, 136);
}